html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'sauvageregular';
    src: url('./assets/font/Sauvage-Regular.otf') format('opentype'), url('./assets/font/Sauvage-Regular.woff2') format('woff2'), url('./assets/font/Sauvage-Regular.woff') format('woff'), url('./assets/font/Sauvage-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    font-size: 100%;
    display: flex;
}

main {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

nav {
    flex: initial;
    display: grid;
    place-items: center;
}

section {
    height: 100%;
    width: 100%;
    flex: auto;
    scroll-snap-align: start;
    display: flex;
}

.presentation {
    flex: initial;
    display: flex;
    flex-direction: column;
}

.viewer {
    flex: auto;
}

#badge {
    margin: 10px;
    display: grid;
    place-items: center;
    font-weight: 700;
}

#logo {
    height: 100%;
    width: 100%;
}

.title {
    flex: none;
}

.title h1 {
    text-align: center;
    font-family: sauvageregular, serif;
    font-weight: 500;
    font-size: 6em;
    text-transform: uppercase;
    font-variant-ligatures: discretionary-ligatures;
}

.title h1::before {
    content: "";
    margin-top: .3em;
    display: block;
    height: 0;
}

.title h1::after {
    content: "";
    margin-bottom: -0.3m;
    display: block;
    height: 0;
}

.description {
    flex: initial;
    overflow-y: auto;
}

.description p {
    padding: 20px 30px;
    font-size: 1.1em;
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.description.emphasis {
    padding: 0;
    font-weight: 700;
    font-size: 2.2em;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    overflow-y: visible;
}

model-viewer {
    width: 100%;
    height: 100%;
}

#landing img {
    width: 100%;
    height: 100%;
}

/* Desktop*/

@media (min-width: 480px) {
    nav {
        height: 100%;
    }
    .presentation {
        flex-basis: 600px;
        width: 400px;
    }
    #badge {
        width: 60px;
        height: 60px;
    }
}

/* Mobile */

@media (max-width: 480px) {
    body {
        flex-direction: column;
    }
    nav {
        order: 99;
    }
    section {
        flex-direction: column;
    }
    #badge {
        width: 50px;
        height: 50px;
    }
}