html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Website specific styling */

@font-face {
    font-family: 'sauvageregular';
    src: url('./assets/font/Sauvage-Regular.woff2') format('woff2'), url('./assets/font/Sauvage-Regular.woff') format('woff'), url('./assets/font/Sauvage-Regular.otf') format('otf'), url('./assets/font/Sauvage-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    min-height: -webkit-fill-available;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#section-presentation {
    background-color: white;
    display: flex;
    flex-direction: column;
}

#title {
    padding: 15px;
    flex: 0 0 20%;
    text-align: center;
    line-height: 64px;
    font-family: sauvageregular, serif;
    font-weight: 500;
    font-size: 1em;
}

#title::before {
    content: "";
    margin-top: .4em;
    display: block;
    height: 0;
}

#title::after {
    content: "";
    margin-bottom: -0.2453em;
    display: block;
    height: 0;
}

#sidebar {
    display: grid;
    place-items: center;
}

#badge {
    background-color: white;
    border: 3px solid black;
    border-radius: 100%;
    position: relative;
    font-size: .2em;
    font-family: sauvageregular, serif;
    text-align: center;
    text-justify: center;
    display: grid;
    place-items: center;
    font-weight: 700;
}

#section-viewer {
    flex: 1 1 60%;
}

model-viewer {
    outline: none;
    width: 100%;
    height: 100%;
}

button {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    box-sizing: border-box;
}

button[slot="bloco-01"] {
    --min-hotspot-opacity: 0;
    background-color: red;
}

#annotation {
    background-color: #888888;
    position: absolute;
    transform: translate(10px, 10px);
    border-radius: 10px;
    padding: 10px;
}

/* This keeps child nodes hidden while the element loads */

:not(:defined)>* {
    display: none;
}

/* Desktop*/

@media (min-width: 480px) {
    #container {
        flex-direction: row;
        font-size: 100px;
    }
    #section-presentation {
        flex: 0 0 40%;
        display: flex;
    }
    #sidebar {
        flex-basis: 85px;
    }
    #badge {
        width: 60px;
        height: 60px;
    }
}

/* Most mobile */

@media (max-width: 480px) {
    #container {
        flex-direction: column;
        font-size: 60px;
    }
    #section-presentation {
        flex: 0 0 auto;
    }
    #sidebar {
        order: 99;
        flex-basis: 75px;
    }
    #badge {
        width: 50px;
        height: 50px;
    }
}