html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Website specific styling */

body {
    height: 100vh;
    width: 100vw;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#section-presentation {
    background-color: #4296BD;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

#title {
    padding: 15px;
    line-height: 1;
    flex: 0 0 30px;
    font-family: Helvetica;
    font-weight: 700;
    text-align: center;
    font-size: 1.5em;
}

#description {}

#section-viewer {
    flex: 1 1 auto;
}

model-viewer {
    outline: none;
    width: 100%;
    height: 100%;
}

@media (min-width: 480px) {
    #container {
        flex-direction: row;
    }

    #section-presentation {
        flex: 0 0 480px;
        display: flex;
        flex-direction: column;
    }

    #title {
        padding: 20px;
        flex: 0 0 60px;
        font-size: 2em;
    }
}


@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    #container {                           
        height: 1024px;                         
    }                       
}   
                                            
/* iPad with landscape orientation. */                       
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {                         
    #container {                           
        height: 768px;                         
    }                       
}
                                               
/* iPhone 5 
You can also target devices with aspect ratio. */                       @media screen and (device-aspect-ratio: 40/71) {                              
    #container {                           
        height: 500px;                         
    }                       
}