/* || GENERAL STYLES */

html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, body, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'sauvageregular';
    src: url('./assets/font/Sauvage-Regular.otf') format('opentype'), url('./assets/font/Sauvage-Regular.woff2') format('woff2'), url('./assets/font/Sauvage-Regular.woff') format('woff'), url('./assets/font/Sauvage-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

main {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    text-transform: uppercase;
}

section {
    z-index: 1;
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    flex: 0 0 auto;
}

.presentation {
    flex: initial;
    display: flex;
    flex-direction: column;
}

.viewer {
    flex: auto;
}

::-webkit-scrollbar {
    height: auto;
    width: 0;
    background: transparent;
}

/* || LANDING PAGE */

.centered {
    display: grid;
    place-items: center;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}

#title-logo {
    width: calc(200px + 35vw);
    animation: fadeInAnimation linear 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* || SIDEBAR MENU */

#badge {
    position: fixed;
    z-index: 100;
    top: 0;
    height: auto;
    width: calc(100px + 2.5vw);
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}

p {
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.08em;
}

#logo {
    margin: 20%;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
    background-color: white;
}

.grid-3 {
    width: 70%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

.grid-item {
    align-self: center;
    padding: 30px;
}

#item-corpo {
    font-size: 50px;
    text-align: center;
    font-weight: 300;
}

.medium {
    font-size: 30px;
}

#nav-mask {
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 100%;
    opacity: .6;
    background-color: #121212;
}

.sidenav {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    padding-top: calc((100px + 2.5vw)/1.2);
    font-family: sauvageregular, serif;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #1F1B24;
    color: mistyrose;
}

.sidenav p {
    position: absolute;
    font-family: montserrat;
    bottom: 100px;
    padding: 20px;
    font-size: .9em;
    white-space: nowrap;
}

.sidenav a {
    color: inherit;
    margin: 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    display: block;
    white-space: nowrap;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav a:hover {
    color: white;
}

/* || SECTION STYLING */

.title {
    flex: none;
}

.title h1 {
    text-align: center;
    font-family: sauvageregular, serif;
    font-weight: 500;
    font-size: 5em;
    text-transform: uppercase;
    font-variant-ligatures: discretionary-ligatures;
}

.title h1::before {
    content: "";
    margin-top: .4em;
    display: block;
    height: 0;
}

.title h1::after {
    content: "";
    margin-bottom: .2em;
    display: block;
    height: 0;
}

.description {
    flex: initial;
    overflow-y: auto;
}

.description p {
    padding: 20px 30px;
    font-size: 1.1em;
    line-height: 1.7rem;
    font-family: 'Montserrat', sans-serif;
}

.description.emphasis {
    padding: 0;
    font-weight: 700;
    font-size: 2.2em;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    overflow-y: visible;
}

model-viewer {
    width: 100%;
    height: 100%;
}

/* || DESKTOP SPECIFIC */

@media (min-width: 480px) {
    .presentation {
        flex: 1 300px;
    }
    .viewer {
        flex: 4 auto;
    }
    .sidenav a {
        padding: 10px;
        font-size: 2em;
    }
}

/* || MOBILE SPECIFIC */

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
    section {
        flex-direction: column;
    }
    .presentation {
        flex: initial;
        order: 2;
    }
    .viewer {
        flex: 1 auto;
    }
    .title h1 {
        font-size: 46px;
    }
    .description {
        height: 200px;
    }
    .description.emphasis {
        font-size: 1.5em;
        line-height: 20px;
        height: 50px;
    }
    .sidenav a {
        padding: 5px;
        font-size: 2em;
    }
}