@font-face {
    font-family: 'Montserrat-Light';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fluire-Caps';
    src: url('~assets/fonts/Fluire/Fluire Caps.otf') format('opentype');
}

body {
    background-color: #DDC5B9;
    font-family: "Montserrat-Light";
}

h1 {
    font-size: 42px;
    color: #BD5927;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#logo {
    width: 75vw;
}

#name {
    font-size: 180px;
    font-family: "Fluire-Caps";
}

#landing-links-container {
    display: flex;
    justify-content: center;
}

.landing-link {
    margin: 0 3em;
    font-family: "Montserrat-Regular";
    font-size: 32px;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #c79984;
}